html {
    font-family: 'Anton', sans-serif;
}

#header {
    width: 100%;
    padding: 10px;
    margin: 10px;
    border: solid 2px tan;
    text-align: center;
}

#left-panel, #right-panel {
    width: 40%;
    padding: 10px;
    text-align: center;
    border: solid 2px tan;
    float: left;
}

img {
    width: 95%;
    margin: 0 auto;
}